h1{
  text-align: center;
  color: blue;
  font-weight: bold;
  background-color: white;
  border-radius: 50px;
}
img{
height: 80px;
width: 80px;
}

.font{
color: #fff;
font-weight: bold;
background-color: firebrick;
border-color: black;
display:inline-flex;
}

.background {
  color: blue;
  background-color: grey;
  color: blue;
  font-weight: bold;
  margin :auto;
  display: inline-flex;
}
.border{
  font-weight: bold;
  margin: auto;
  background-color:#4682B4;
  color: #DEB887;
  margin: auto;
  display: inline-flex;
}
body{
  background-color: coral;
  font-family: fantasy;
}
