h1{
  text-align: center;
  font-family: osvald;
  color: blue;
  font-weight: bold;
  background-color: grey;
}
th{
  background-color: grey;
}
th,tr,td{
color: blue;
font-family: osvald;
font-weight: bold;
}

table {
  color: blue;
  background-color: grey;

}
img{
  height:80px;
  width: 80px;
}
